<%= render partial: 'header' %>
<div class="articleIndex__header">
<%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "課題で記事を検索する", class: "search-input" %>
  <div class="search-btn-space">
    <%= form.submit "検索", class: "search-btn" %>
    <%= link_to '詳細検索ページ', detailsearch_articles_path %>
  </div>
</div>
<% end %>
<div id="contents">
<section>
<h2>投稿された記事一覧</h2>
<% @articles.each do |article| %>
<div class="list">
  <div>
    <%= image_tag article.image if article.image.attached? %>
  </div>
  <div>
    <h4><%= link_to article.theme, article_path(article) %></h4>
    <p>課題：<%= article.issue %></p>
    <p><%= l article.updated_at %></p>
    <p><%= article.user.name %></p>
    <p class="articleIndex__tagContainer">
      <% article.tags&.each do |tag| %>
        # <%= tag.tag_name %>
      <% end %>
    </p>
  </div>
</div>
<%end%>

</section>

<footer>
<small>Copyright&copy; <a href="index.html">SAMPLE SITE</a> All Rights Reserved.</small>
<span class="pr">《<a href="https://template-party.com/" target="_blank">Web Design:Template-Party</a>》</span>
</footer>
</div>