<%= render partial: 'header'%>

<div id="container">

<div id="contents">

<div id="main">

<article>

<h2>記事詳細</h2>

<figure id="item-image" class="mb15 c">
<%= image_tag @article.image, alt: "添付画像", id: "item_image1"%>
</figure>

<table class="ta1">
<tr>
<th>研究テーマ</th>
<td><%= @article.theme %></td>
</tr>
<tr>
<th>課題</th>
<td><%= @article.issue %></td>
</tr>
<tr>
<th>手段</th>
<td><%= @article.measure %></td>
</tr>
<tr>
<th>結果</th>
<td><%= @article.result %></td>
</tr>
<tr>
<th>タグ</th>
<td><%= @article.tags.first&.tag_name %></td>
</tr>
<tr>
<th>投稿日または編集日</th>
<td><%= l @article.updated_at%></td>
</tr>
<tr>
<th>投稿者</th>
<td><%= @article.user.name %></td>
</tr>
</table>

<% if user_signed_in? && @article.user.id == current_user.id %>
<div class="articleShow__btnContainer">
  <div class="articleShow__editButtonContainer">
    <%= link_to '編集する', edit_article_path(@article), class: "articleEditButton" %>
  </div>
  <div class= "articleShow__deleteButtonContainer">
    <%= link_to '削除する', article_path(@article), data: {turbo_method: :delete}, class: "articleDeleteButton" %>
  </div>
</div>
<% end %>

</article>

</div>
<!--/main-->
