<%= render partial: 'header'%>
<div class="articleIndex__articleContainer">
  <div class="articleIndex__themeContainer">
    研究テーマ：<%= @article.theme %>
  </div>
  <div class="articleIndex__issueContainer">
    <span class="articleHeader" >課題</span><br /><%= @article.issue %>
  </div>
  <div class="articleIndex__measureContainer">
    <span class="articleHeader">手段</span><br /><%= @article.measure %>
  </div>
  <div class="articleIndex__resultContainer">
    <span class="articleHeader">結果</span><br /><%= @article.result %>
  </div>
  <div class="articleIndex__tagContainer">
    # <%= @article.tags.first&.tag_name%>
  </div>
  <div class="articleIndex__postingTime">
    <%= l @article.updated_at %>
  </div>
  <div class="articleIndex__username">
    <%= @article.user.name %>
  </div>
  <div class="articleShow__imageContainer">
  <% if @article.image.attached? %>
    <%= image_tag @article.image, alt: "添付画像", class: "articleImage" %>
  <% end %>
  </div>
</div>
<% if user_signed_in? && @article.user.id == current_user.id %>
<div class="articleShow__btnContainer">
  <div class="articleShow__editButtonContainer">
    <%= link_to '編集する', edit_article_path(@article), class: "articleEditButton" %>
  </div>
  <div class= "articleShow__deleteButtonContainer">
    <%= link_to '削除する', article_path(@article), data: {turbo_method: :delete}, class: "articleDeleteButton" %>
  </div>
</div>
<% end %>