<%= render partial: 'articles/header' %>

<div class="registrationFormContainer">
  <%= form_with(model: @user, url: user_session_path, html: {class: "registrationForm"}, local: true) do |f| %>
    <div class="registrationFormGroup">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "registrationFormPart" %>
    </div>
    <div class="registrationFormGroup">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "registrationFormPart" %>
    </div>
    <div class="registrationFormBtnContainer">
      <%= f.submit "Log in", class: "registrationFormBtn" %>
    </div>
  <% end %>
</div>

<div class="errorMessagesContainer">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: key %>
  <% end %>
</div>

<%# <%= render "devise/shared/links" %> 
